<!DOCTYPE html>
<!-- saved from url=(0048)https://getbootstrap.com/docs/4.3/examples/blog/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Blog Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/blog/">

    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
	  <header class="blog-header py-3">
		<div class="row flex-nowrap justify-content-between align-items-center">
		  <div class="col-4 pt-1">
			<a class="text-muted" href="https://getbootstrap.com/docs/4.3/examples/blog/#">Subscribe</a>
		  </div>
		  <div class="col-4 text-center">
			<a class="blog-header-logo text-dark" href="https://getbootstrap.com/docs/4.3/examples/blog/#">Large</a>
		  </div>
		  <div class="col-4 d-flex justify-content-end align-items-center">
			<a class="text-muted" href="https://getbootstrap.com/docs/4.3/examples/blog/#">
			  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
			</a>
			<a class="btn btn-sm btn-outline-secondary" href="https://getbootstrap.com/docs/4.3/examples/blog/#">Sign up</a>
		  </div>
		</div>
	  </header>
	</div>
		<br>
		<main role="main" class="container">
		  <div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10 blog-main">
			  <form class="form-horizontal" method="post" action="/post/create">
				<div class="form-group">
					<div class="row">
						<label for="postTitle" class="col-sm-2 control-label">Title:</label>
						<div class="col-sm-10">
							<input type="text" name="postTitle" class="form-control" placeholder="Input the post title" required="" autofocus="">
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
						<label for="postContent" class="col-sm-2 control-label">Content:</label>
						<div class="col-sm-10">
							<textarea type="text" rows="16" name="postContent" class="form-control" placeholder="Input the post title" required=""></textarea>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
						<div class="offset-sm-2 col-sm-10">
							<button class="btn btn-lg btn-primary" type="submit">Commit</button>
							<button class="btn btn-lg btn-secondary" onclick="javascript:history.go(-1);">Cancel</button>
						</div>
					</div>
				</div>
			  </form>

		  </div><!-- /.row -->

		</main><!-- /.container -->

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="https://getbootstrap.com/docs/4.3/examples/blog/#">Back to top</a>
  </p>
</footer>


</body></html>